* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.context {
    width: 75%;
    margin: auto;
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

body {
    padding: 40px 0px;
}

.context .list li {
    list-style: none;
    padding-left: 40px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: rgb(111, 185, 255);
    border: solid;
    border-color: rgb(111, 185, 255);
    border-width: 2px;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 0.15s;
}

a:hover {
    box-shadow: 5px 5px 20px black;
}

a:active {
    background-color: white;
    color: rgb(111, 185, 255);
    opacity: 75%;
}

.click {
    color: gray;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 30px;
}
